// Specific CSS for your home-page
.home-banner{
    // background-image: url('https://media.istockphoto.com/photos/concert-stage-on-rock-festival-music-instruments-silhouettes-picture-id1199243596?s=612x612');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

.over-image{
  position: absolute;
  color:aliceblue;
  width: 90%;
  text-shadow: 2px 2px #7133c7;
}

  .card-container {
    display: flex;
    justify-content: space-between;
    margin: -90px 0 90px 0;
  }

  .cards-home {
    position: relative;
    display: flex;
    justify-content: space-around;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 2px;
    width: 100%;
  }

  .card-img-top {
    height: 250px;
    object-fit: cover;
  }

  .card-home-body {
    box-shadow: 1px 1px 1px 1px grey;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    width: 40%;
  }


  .btn-homepage {
    width: 50%;
    margin-left: 25%;
    border: 1px solid purple;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff !important;
    background: linear-gradient(135deg, #7133C7 0%, #8B2FAA 66.25%, #A62B8D 100%);
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 10px;
    padding: 10px;
}

.placement-elements {
  display: flex;
  flex-direction: column;
  text-align: center;
}
