<footer class="bg-dark p-3">
    <small class="text-muted sticky_bottom">
      <p> Please note that the data on this website is not real,
      it is used to demonstrate the idea of the web application only,
      all the rights belong to their owners.</p>
      <p> <a href="https://www.freepik.com/photos/singer" class="text-muted" target="_blank">Singers' photos are created by freepik - www.freepik.com</a></p>
      <p> <a href="https://www.freepik.com/photos/restaurant" class="text-muted" target="_blank">Restaurants' photos are created by freepik - www.freepik.com</a></p>
    </small>
</footer>
