<li class="me-3">
  <%= link_to "Dashboard", place_dashboard_path, class: "dashboard_navbar_btn" %>
</li>
<li class="me-3">
  <%= link_to "Profile", place_path(current_place), class: "dashboard_navbar_btn" %>
</li>
<li class="nav-item dropdown">
  <%= cl_image_tag current_place.photo.key, class: "avatar dropdown-toggle navbar_profil_picture", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
    <%= link_to "Log out", destroy_place_session_path, method: :delete, class: "dropdown-item" %>
  </div>
</li>
