<% if current_place %>
  <%= render 'form', talent: @talent, booking: @booking %>
<% else %>
  <p class="m-5">This page is not available</p>
  <%= link_to "Homepage", root_path, class: "purple_pink_btn m-5" %>
<% end %>
