
<div class="home-banner">
  <img class="banner-image" src="https://images.unsplash.com/photo-1543171619-26386da8f3e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80" alt="Banner">
  <h1 class="over-image m-5">The first and only platform to connect Talent and business owners looking for a great show</h1>
</div>
<div class="card-container">
  <div class="cards-home">
    <%= link_to places_path, class: "card-home-body" do  %>
      <div class="placement-elements">
        <img src="https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" class="card-img-top" alt="places-img">
        <h5 class="card-title text-link mt-2">Want to express your talent in public?</h5>
        <!-- <p class="card-text">Some quick example text touild on the card title and make up the bulk of the card's content.</p> -->
        <span class="btn-homepage purple_pink_btn">Find a place to play!</span>
      </div>
    <% end %>
    <%= link_to talents_path, class: "card-home-body" do  %>
      <img src="https://images.unsplash.com/photo-1471478331149-c72f17e33c73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80" class="card-img-top" alt="talent-img">
      <div class="placement-elements">
        <h5 class="card-title text-link mt-2">Looking for a musician for your place?</h5>
        <!--  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        <span class="btn-homepage purple_pink_btn">Find your talent!</span>
      </div>
    <% end %>
  </div>
</div>
