<h1 class="m-3">Who are you?</h1>

<h3 class="m-3">>> <%= link_to 'Place', new_place_session_path, class: "text-link" %></h2>
<h3 class="m-3">>> <%= link_to 'Talent', new_talent_session_path, class: "text-link" %></h2>
