<h3 class="mt-5 ms-5">Please log in:</h3>

<h3 class="m-3">>> <%= link_to 'as a place (cafe, restourant, bar)', new_place_session_path, class: "text-link" %></h2>
<h3 class="m-3">>> <%= link_to 'as a talent (singer, musician, DJ)', new_talent_session_path, class: "text-link" %></h2>
