.purple_pink_btn {
  color: #fff !important;
  background: linear-gradient(135deg, #7133c7 0%, #8b2faa 66.25%, #a62b8d 100%);
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  transition: 0.5s;
}

.purple_pink_btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.bad_btn {background-image: linear-gradient(to right, #232526 0%, #414345  51%, #232526  100%)}
.bad_btn {
   margin: 5px;
   padding: 10px 15px;
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;
   box-shadow: 0 0 20px #eee;
   border-radius: 5px;
 }

 .bad_btn:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
