.btn-modal-promotion {
  width: 100%;
  color: #fff !important;
  background: linear-gradient(135deg, #7133C7 0%, #8B2FAA 66.25%, #A62B8D 100%);
  border: none;
  border-radius: 5px;
  padding: 16px;
}
