.navbar-lewagon {
  justify-content: space-between;
  background: black;
  padding: 10px 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar_WebApp_name{
  color: white;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item{
  list-style-type: none;
}

.talent_place_btn {
  background-color: black;
  color: white;
  border: none;
  text-decoration: none;
}


.dashboard_navbar_btn {
  text-decoration: none;
  color: white;
}

.navbar_profil_picture {
  border-radius: 0px !important;
  margin-right: 10px;
}

.dashboard_navbar_btn {
  padding-right: 10px;

  &:hover {
      color: #d1d1d1;
  }
}


.links_blue_to_white {
  a {
    color: white;
  }

  a:hover {
    color: #d1d1d1;
  }
}

.sticky_top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
