.navbar-lewagon {
  justify-content: space-between;
  background: black;
  padding: 10px 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar_WebApp_name{
  color: white;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item{
  list-style-type: none;
}

.talent_place_btn {
  background-color: black;
  color: white;
  border: none;
  text-decoration: none;
}


.dashboard_navbar_btn {
  text-decoration: none;
  color: white;
}
