// and places are also here

.talent-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  object-position: center;
}

a {
  text-decoration: none;
}

.flex-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
