.dashboard_talent_container {

}

.dashboard_talent_section_1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard_talent_section_2 {

}

.profil_pic_dashboard_talent {
  width: 350px;
  padding-left: 30px;
  padding-top: 40px;
}

.dashboard_talent_info {
  padding-top: 10px;
  width: 300px;
}

.dashboard_talent_btn_top {

}

.dashboard_talent_find_place {
  padding-right: 10px;
}

.dashboard_talent_row_booking {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
  padding: auto;
}
