h2 {
  margin: 30px 0 30px 100px;
  font-weight: bold;
}

.dashboard_talent_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table_dashboard_talent {
  width: 95%;
  background-color: #ededed;
  margin-left: 30px;
  margin-right: 30px;
}

div tr{
  border-bottom: 1px solid #d1d1d1;
  border-radius: 10px;
}

.table_dashboard_talent {
  td {
    padding: 15px;
  }
}
