<!-- Button trigger modal -->
<button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="purple_pink_btn">
  Send a promotion
</button>
<!-- Modal -->
<div class="modal fade mt-5" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Send a promotion to <%= place.title %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [place, promotion] do |f| %>
          <%= f.input :message, label: false, as: :text %>
          <%= f.submit class: "purple_pink_btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
