<% if current_place && @place && @place.id == current_place.id %>
    <%= render 'form' %>
<% else %>
  <p>This page is not available</p>
  <%= link_to "Back to the homepage", root_path, class: "btn btn-flat" %>
<% end %>
