<% if current_place && @place && @place.id == current_place.id %>
    <%= render 'form' %>
<% else %>
  <p class="m-5">This page is not available</p>

 <%= link_to "Homepage", root_path, class: "purple_pink_btn m-5" %>
<% end %>
